/* BOX SIZING FOR "ALL ELEMENTS" */
* {
  box-sizing: border-box;
}

/* "HTML" */
html {
  /* DEFAULT SIZE FOR BROWSER = "16PX" */
  /* SETTING SIZE: "10PX" / "1REM" = 16 x 0.624 */
  font-size: 62.5%;
}

/* "BODY" */
body {
  /* FULL HIGHT */
  height: 100vh;

  /* FONT = "16 PX" */
  font: 1.6rem Helvetica, Arial;

  /* REMOVING "MARGIN" */
  margin: 0;
}

/* LINK - "A"  */
a {
  color: #000000;
  text-decoration: none;
}

/* HOVER LINK - "A" */
a:hover {
  color: #f08040;
}

/* ______________________________________________________
    
    SEC. "BUTTONS"
_________________________________________________________ */

/* BUTTON → WITH "CURSOR"  */
button {
  cursor: pointer;
}

/* "BUTTON" & "INPUT" */
input,
button {
  font: 1.6rem helvetica;
  padding: 1rem;
  border: 0.1rem #808080 solid;
  border-radius: 0.5rem;
}

/* "HOVER" OVER "BUTTON" & "INPUT" */
input:hover,
button:hover {
  border: 0.1rem #404040 solid;
}

/* "PRIMARY" BUTTON */
button.primary {
  background-color: #f0c040;
}

/*  CLS. "FW" ("FULL WIDTH") */
.fw {
  width: 100%;
}

/* CLS. ".SUCCESS" */
.success {
  color: #40c040;
}

/* CLS. ".ERROR" */
.error {
  color: #c04040;
}

/* CLS. "GRID-CONTAINER" */
.grid-container {
  /* DISPLAY "GRID" */
  display: grid;

  /* GRID "AREAS" */
  grid-template-areas:
    "header"
    "main"
    "footer";

  /* GRID "COLUMNS" (1 COLUMN) */
  grid-template-columns: 1fr;

  /* GRID "ROWS" (HEADER MAIN FOOTER) */
  grid-template-rows: 5rem 1fr 5rem;

  height: 100%;
}

/* HEADER */
header {
  /* SELECT "GRID-AREAS" */
  grid-area: header;

  background-color: #203040;
  color: #ffffff;

  /* DISPLAY "FLEX" ("RESPONSIVE") */
  display: flex;

  /* SPACE BETWEEN  ELEMENTS */
  justify-content: space-between;

  /* CENTER ALIGN */
  align-items: center;

  padding: 0.5rem;
}

/* "A" → "HEADER" */
header a {
  color: #ffffff;
  font-weight: bold;
  text-decoration: none;
}

/* HOVER "A" → "HEADER" */
header a:hover {
  color: #f08040;
}

/* "A" → CLS. "BRAND" */
.brand a {
  font-size: 3rem;
}

/* FOOTER  */
footer {
  background-color: #203040;

  /* DISPLAY "FLEX" */
  display: flex;

  /* CENTER */
  justify-content: center;

  /* CENTER  ALIGN */
  align-items: center;

  color: #ffffff;
}

/* CLS. "PRODUCTS */
.products {
  display: flex;

  /* RESPONSIVE */
  flex-wrap: wrap;

  /* REMOVE "BULLETS" */
  list-style-type: none;

  padding: 0;
  margin: 0;
  justify-content: center;
}

/* LI → CLS. "PRODUCTS" */
.products li {
  flex: 0 1 30rem;
  margin: 1rem;
  margin-bottom: 0;
  height: 42rem;
  border-top: 0.2rem #e0e0e0 solid;
}

/* CLS. "PRODUCT" */
.product {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 100%;
}

/* IMG → "PRODUCT" */
.product img {
  max-height: 26rem;
  max-width: 22rem;
  margin-top: 2rem;
}

/* CLS. "PRODUCT-NAME" */
.product-name {
  line-height: 2.2rem;
}

/* CLS. "PRODUCT-BRAND" */
.product-brand {
  font-size: 1.2rem;
  color: #808080;
}

/* CLS. "PRODUCT-PRICE"  */
.product-price {
  font-size: 2rem;
}

/* SPAN → CLS. "PRODUCT-PRICE" */
.product-price span {
  font-size: 1.2rem;
}

/* ______________________________________________________
    
    SEC. "RATINGS"
_________________________________________________________ */

/* CLS. "RATING" (FOR "STARTS") */
.rating {
  color: #ffc000;
  font-size: 1.8rem;
}

/* "SPAN: LAST-CHILD" (FOR "TEXT") */
.rating span:last-child {
  color: #444444;
  font-size: 1.4rem;
}

/* ______________________________________________________ 
  
    SEC. "PRODUCT DETAILS"
_________________________________________________________ */

/* CLS. "CONTENT" */
.content {
  padding: 1rem;
}

/* CLS. "DETAILS" */
.details {
  display: flex;
  justify-content: space-between;

  /* VERTICAL ALIGNMENT */
  align-items: flex-start;

  /* WRAP (COLUMNS WILL BE PUSH DOWN FOR SMALL SCREENS) */
  flex-wrap: wrap;
}

/*  CLS. "DETAILS-IMAGE" */
.details-image {
  /* IMAGE WILL HAVE 2 SECTION FROM 4 SECTIONS */
  flex: 2 1 60rem;
}

/* "IMG" FROM  CLS. "DETAILS-IMAGE" */
.details-image img {
  max-width: 60rem;
  width: 100%;
}

/*  CLS. 'DETAUILS-INFO' & 'DETAILS-ACTION' */
.details-info,
.details-action {
  flex: 1 1 30rem;
}

/* "UL" FOR CLS. "DETAUILS-INFO" & "DETAILS-ACTION" */
.details-info ul,
.details-action ul {
  padding: 0;
  /* REMOVING BULLETS */
  list-style-type: none;
}

/* "H1" FROM CLS. "DETAUILS-INFO" */
.details-info h1 {
  font-size: 2rem;
  margin: 0;
}

/* "LI" FROM CLS. "DETAUILS-INFO" & "DETAILS-ACTION"  */
.details-info li,
.details-action li {
  margin-bottom: 1rem;
}

/* CLS. "DETAILS-ACTION" */
.details-action {
  border: 0.1rem #808080 solid;
  border-radius: 0.5rem;
  background-color: #f8f8f8;
  padding: 1rem;
}

/* ______________________________________________________
    
    SEC. "CART"
_________________________________________________________ */

/* CLS. "CART" */
.cart {
  /* DISPLAY CART "NEXT TO EACHOTHER" */
  display: flex;

  /* WRAP (FOR RESPONSIVE) */
  flex-wrap: wrap;
  align-items: flex-start;
}

/* CLS. "CART-LIST" */
.cart-list {
  /* COL.1 ON 3 SECMENTS  &  COL. 2 ON 1 SECMENT */
  flex: 3 1 60rem;
}

/* CLS. "CART-ACTION" */
.cart-action {
  flex: 1 1 20rem;
  background-color: #f0f0f0;
  border-radius: 0.5rem;
  padding: 1rem;
}

/* CLS. "CART-LIST-CONTAINER" */
.cart-list-container {
  padding: 1rem;
  list-style-type: none;
}

/* "LI" → FROM CLS. "CART-LIST-CONTAINER" */
.cart-list-container li {
  display: flex;
  justify-content: space-between;
  padding-bottom: 1rem;
  margin-bottom: 1rem;
  border-bottom: 0.1rem #c0c0c0 solid;
}

/* "IMG" → FROM CLS. "CART-LIST-CONTAINER" */
.cart-list-container img {
  max-width: 10rem;
  max-height: 10rem;
}

/* "LI:FIRST-CHILD" → FROM CLS. "CART-LIST-CONTAINER" */
.cart-list-container li:first-child {
  align-items: flex-end;
}

/* CLS. "CART-IMAGE" */
.cart-image {
  flex: 1 1;
}

/* CLS. "CART-NAME" */
.cart-name {
  flex: 8 1;
}

/* CLS. "CART-PRICE" */
.cart-price {
  flex: 1 1;
  text-align: right;
}

.cart-name > div {
  padding: 1rem;
}

.cart-list h3 {
  margin: 0;
}

/* "BUTTON" & "SELECT" → FROM CLS. "CART-LIST" */
.cart-list button,
.cart-list select {
  font-size: 1.3rem;
  padding: 0.5rem;
}

/* ______________________________________________________
    
    SEC. "FORM"
_________________________________________________________ */

/* CLS. "FORM-CONTAINER" */
.form-container {
  display: flex;

  /* "CENTER" ALIGNMENT */
  justify-content: center;
  align-items: center;

  height: 100%;
}

/* CLS. "FORM-ITEMS" */
.form-items {
  display: flex;
  flex-direction: column;
  width: 32rem;
  padding: 2rem;
  border: 0.1rem #c0c0c0 solid;
  border-radius: 0.5rem;
  list-style-type: none;
}

/* "LI" FROM CLS. "FORM-ITEMS" */
.form-items li {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
  margin-top: 1rem;
}

/* "H1" FROM CLS. "FORM-CONTAINER" */
.form-container h1 {
  font-size: 2.5rem;
}
